/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e background da página */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(237, 236, 236);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #D1C4E9; /* Tom suave de lavanda */
    height: 100vh;
}

/* Contêiner principal do dashboard */
.dashboard {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

/* Estilo do header */
.header {
    background: linear-gradient(45deg, #4B0082, #7B68EE); /* Gradiente roxo inspirado em nebulosas */
    color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 2rem;
}



/* Ajuste no botão de voltar */
/* Estilos para o botão de voltar */
.back-button {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transição para animação */
}

.back-button img {
  width: 20px;
  transition: transform 0.3s ease; /* Animação para o ícone */
}

/* Animação no hover */
.back-button:hover img {
  transform: scale(1.2); /* Aumenta o tamanho do ícone quando o cursor passa por cima */
}


/* Estilo do grid de 4 cards */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
}

/* Estilo de cada card */
.card {
    background-color: rgba(75, 0, 130, 0.7); /* Roxo translúcido */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* Efeito de hover nos cards */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Título de cada gráfico */
.card h2 {
    font-size: 1.5rem;
    color: #EDE7F6;
    margin-bottom: 15px;
    text-align: center;
}

/* Estilo do conteúdo do gráfico */
.grafico-content {
    align-items: center;
    background-color: rgba(75, 0, 130, 0.3);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7B68EE;
}

/* Aumentando a largura do iframe para preencher mais espaço */
.grafico-content iframe {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: contain;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grafico-content iframe {
        width: 100%;
        height: 100%;
    }
}

/* Estilos para o carregamento */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #7B68EE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Remover o loader após o carregamento */
body.loaded .loader {
    display: none;
}
